.main-content {
    overflow:scroll;
      position: relative;
      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      
      
      background:#295675 url('dreamcodes/bg_images/color/c4.jpg') no-repeat center top;
      color: #fff;
      text-align: center;
  }
  
  .main-title {
      font-weight: 400;
      font-size: 20px;
      color: white;
      font-family: 'Bellefair', serif;
      position:relative;
      
  }



  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgb(109 115 10);
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    color: #f0eeee;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #a8953c;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(109 115 10);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.current-value {
    font-size: 1.4em;
    font-weight: bolder;
    color: #ffffff;
}