.main-content {
    overflow:scroll;
      position: relative;
      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      
      
      background:#295675 url('dreamcodes/bg_images/color/c4.jpg') no-repeat center top;
      color: #fff;
      text-align: center;
  }
  
  .main-title {
      font-weight: 400;
      font-size: 20px;
      color: white;
      font-family: 'Bellefair', serif;
      position:relative;
      
  }